<div class="auth">
  <div class="login">
    <h2>Login</h2>
    <form [formGroup]="auth" (ngSubmit)="onSubmit()">

      <!-- Username -->
      <label for="username" class="block">
        <span>Username</span>
        <div class="input-wrap">
          <fa-icon [icon]="faUser" size="lg"></fa-icon>
          <input [(ngModel)]="auth.username" type="text" id="username" formControlName="username"
            placeholder="Type your username">
        </div>
      </label>

      <!-- Password -->
      <label for="password" class="block">
        <span>Password</span>
        <div class="input-wrap">
          <fa-icon [icon]="faLock" size="lg"></fa-icon>
          <input [(ngModel)]="auth.password" type="password" id="password" formControlName="password"
            placeholder="Type your password">
        </div>
      </label>

      <!-- Forgot -->
      <div class="forgot">Forgot Password?</div>
      <app-modal (closeModal)="onCloseModal()" *ngIf="error !== ''" [message]="error">{{error}}</app-modal>
      <button>LOGIN</button>
    </form>

    <!-- Signup -->
    <div class="signup-cta">
      Or Sign Up With
    </div>
    <div class="flex">
      <span class="flex signup-social facebook">
        <fa-icon [icon]="faFacebookF" size="lg"></fa-icon>
      </span>
      <span class="flex signup-social twitter">
        <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
      </span>
      <span class="flex signup-social google">
        <fa-icon [icon]="faGoogle" size="lg"></fa-icon>
      </span>
    </div>
  </div>
</div>
