/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  font-size: 14px;
  color: #333;
}

.block {
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
